/* SignIn.css */
.signin-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* Adjust the min-height as needed */
    padding: 20px;
}

.signin-container {
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #2b3452;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    /* Add margin to create space between the form and footer */
}


.signin-title {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.signin-form {
    margin-top: 20px;
}

.form-input input {
    width: 100%;
    padding: 12px;
    border: 2px solid #1976d2;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    background-color: white;
    color: black;

}

.form-input input:focus {
    border-color: #bc4123;
}

.submit-button {
    width: 100%;
    background-color: #bc4123;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #a5341e;
}

.link-text {
    text-align: right;
    margin-top: 10px;
}

.link-text a {
    color: #1976d2;
    text-decoration: none;
}

.link-text a:hover {
    text-decoration: underline;
    color: #bc4123;
}