/* Tutors.css */

.container {
    margin: 0 auto;
    max-width: 1000px;
    /* Adjust max-width for more space on the sides */
    padding: 8px;
}

.tutors-heading {
    /* Target only h1 element within the Tutors component */
    text-align: center;
    padding: 20px 0;
    color: var(--primary);
    /* Use primary color for heading */
    border-bottom: 3px solid var(--primary);
    text-decoration: none;
    /* Remove underline */
}

.tutor-table {
    margin-top: 20px;
    overflow-x: auto;
    /* Enable horizontal scrolling for small screens */
}

.tutor-table table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Poppins", sans-serif;
    /* Use Poppins font */
    border: 1px solid #ddd;
    /* Apply border style */
}

.tutor-table th,
.tutor-table td {
    padding: 8px;
    text-align: center;
    /* Align text center */
}

.tutor-table th {
    background-color: var(--secondary);
    /* Use secondary color for table header background */
    color: #fff;
    /* Text color for table header */
}

.tutor-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tutor-table tr:hover {
    background-color: #ddd;
    /* Highlight on hover with gray color */
}

.tutor-table a {
    text-decoration: none;
    color: var(--primary);
    /* Use primary color for link */
    transition: color 0.3s;
    /* Smooth transition for color change */
}

.tutor-table a:hover {
    color: var(--secondary);
    /* Change link color on hover */
}

.tutor-table a:active,
.tutor-table a:focus {
    color: var(--secondary);
    /* Change link color to orange when clicked or focused */
}