/* Tutors.css */

/* General styling */
.tutors-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #a5341e;
    /* Header text color */
}

.tutor-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    /* Set to display three columns */
    gap: 20px;
    padding: 20px;
    padding-bottom: 60px;
    /* Add padding around the grid */
}

.tutor-card {
    padding: 20px;
    border-radius: 8px;
    background-color: #2b3452;
    /* Card background color */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.tutor-card h2,
.tutor-card p {
    color: #fff;
    /* Text color */
}

.tutor-card a {
    color: #1976d2;
    /* Link color */
    text-decoration: none;
}

.tutor-card a:hover {
    text-decoration: underline;
    color: #bc4123;
    /* Hover link color */
}

/* Search bar and filter dropdown */
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Align items to the right */
    margin-bottom: 20px;
}

.search-bar {
    padding: 10px;
    font-size: medium;
    /* Set font size to medium */
    border: 2px solid #ccc;
    border-radius: 20px;
    /* Make it rounded */
    margin-left: 20px;
    /* Add margin to separate from the filter dropdown */
    margin-right: 20px;
    /* Add margin to move it further to the right */
    width: 250px;
    /* Adjust width as needed */
}


.filter-dropdown {
    padding: 10px;
    font-size: medium;
    /* Set font size to medium */
    border: 2px solid #ccc;
    border-radius: 20px;
    /* Make it rounded */
    margin-left: 10px;
    /* Add margin to separate from the search bar */
    background-color: #fff;
    appearance: none;
    /* Remove default dropdown arrow */
    cursor: pointer;
}

.filter-dropdown:focus {
    outline: none;
}